<h1>My Projects</h1>

<section>
    <button id="signin-button" onclick="handleAuthClick()">
        Sign in with Google
    </button>

    <button onclick="handleSignoutClick()">
        Sign out
    </button>
</section>

<hr>

<div id="projects-list"></div>

<button id="darkModeToggle">Toggle Dark Mode</button>
<script src="https://apis.google.com/js/api.js"></script>
<script src="/googleAPI.js"></script>