  
  body {
    background-color:rgb(79, 79, 219);
    color:aliceblue
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 254, 254);
    font-size: 50px;
  }

  p{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }

/* main header with logo and nav links */
  .header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
  }

/* visited effect on links*/
.nav-links a:visited{

  color: black;
}
.nav-links a:active{

  color:gold
}
/* Hover effect on links*/
.nav-links a:hover{
    color:rgb(227, 228, 229);
}
  
/* click effect on links */
.nav-links a:click{
    color:rgb(83, 216, 78);
}

/* main content box */
.content{
    color:azure;
}

  img{
    float:right;
  }

/* Dark mode colors*/
  .dark-mode {
  background: #111;
  color: #f5f3f3;
}

.dark-mode .content {
  background-color: #333;
  border-color: #444;
}

.dark-mode .header {
  background-color: #222;
}