  
  body {
    background-color:rgb(79, 79, 219);
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 50px;
  }

  p{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }

/* main header with logo and nav links */
  .header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
  }

/* Hover effect on links*/
.a:hover{
    color:rgb(26, 76, 175);
}
  
/* click effect on links */
.a:click{
    color:rgb(83, 216, 78);
}

/* main content box */
.content{
    color:azure;
}

  img{
    float:right;
  }