body{

background-color: black;
color: white;
font-family: 'Georgia', serif;
float: right;
}

ul {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 15;

}

img {
  border: 1px solid red;
  padding: 5px;
  
}

.artist {
  border: 1px solid red;
  padding: 5px;

}

