<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThinkTree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS.css">
</head>

<body>

<header>
    <img src="/images/ThinkTree_logo.png" alt="ThinkTree_logo" width="150">
    <nav id="nav-links">
        <a href="/">Home |</a>
        <a href="/createProject">Create Project |</a>
        <a href="/myProjects">My Projects |</a>
        <a href="/about">About</a>
    </nav>
</header>

    <main>
    {{{body}}}
    </main>


<script src="/darkmode.js"></script>

</body>
</html>